<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yammi.com</title>
    {{!-- // both css and javascript file must in same folder --}}
    <link rel="shortcut icon" href="pro1.jpg" type="image/x-icon">
    <link rel="stylesheet"  href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav >
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo"><a href="#home">MCard</a></label>
        <ul>
            <li class="b1"><a href="#home" class="active">Home</a></li>
            <li class="b1"><a href="#menus">Menu</a></li>
            <li class="b1"><a href="#about">About</a></li>
            <li class="b1"><a href="#profile" id="pbtn">profile</a></li>
        </ul>
    </nav>

    {{!-- section --}}
  
            <div class="slider-container" id="home">
                <div id="slider">
                    <img src="pro1.jpg" alt=""  class="slides active">
                    <img src="pro2.jpg" alt=""  class="slides">
                    <img src="pro3.jpg" alt="" class="slides">
                    <img src="pro4.jpg" alt="" class="slides">
                    <img src="pro5.jpg" alt="" class="slides">
                    
                    <div class="dots-container">
                     <div class="dot activeDot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>        
                     </div>
                </div>
            </div>

    <section id="menus">
        <div class="items1"> 
            <h2>Inspiration for your first order</h2>
        </div>
        <div class="items" >
                <div class="item">
                    <a href="#burgers"><img src="https://cdn.pixabay.com/photo/2016/03/05/19/02/hamburger-1238246_1280.jpg" alt="burgers"><br><h3>Burgers</h3></a>
                </div>
                <div class="item">
                    <a href="#burgers"><img src="https://media.istockphoto.com/id/1309126468/photo/cassava-broth-creamy-broth-made-with-cassava-sausage-bacon-and-meat-accompanied-by-toast.webp?b=1&s=612x612&w=0&k=20&c=WY_URUj5_6d9HancrEv4-_thX344tSePS5qgxgmJ7Ak=" alt="soups"> <br><h3>Soups</h3></a>
                </div>
                <div class="item">
                    <a href="#noddles"><img src="https://images.pexels.com/photos/2456435/pexels-photo-2456435.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="noddles"><br><h3>Noddles</h3></a>
                </div>
                <div class="item">
                    <a href="#rices"><img src="https://images.pexels.com/photos/3926133/pexels-photo-3926133.jpeg?auto=compress&cs=tinysrgb&w=800" alt="rices"><br><h3>Rices</h3></a>
                </div>
                <div class="item">
                    <a href="#starters"><img src="https://cdn.pixabay.com/photo/2015/11/19/10/38/food-1050813_1280.jpg" alt="starters"><br><h3>Starters</h3></a>
                </div>
                <div class="item">
                    <a href="#beverages"><img src="https://c8.alamy.com/comp/M50RBJ/bottles-and-cans-of-assorted-global-soft-drinks-M50RBJ.jpg" alt="beverages"><br><h3>fastfoods</h3></a>
                </div>
        </div>
    </section>

        {{!-- section2 --}}
    <section class="sec2" id="burgers">
         <h1>Burger's Fries And Soups</h1>
        <div class="box">
            <div class="box1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuMlJCI8NF8-bawQb4JcCD_ZljVIq_CA4--JsVjeHJ3Q&s" alt="burger" class="img1">
                <h2>Aloo Tikki Burger</h2>
                <p class="p1" >aloo tikki burger, featuring a golden brown potato patty filled <br> 49 Rs</p>
                <br>
                <a href="https://neartail.com/sm/m6STpToJR"><button class="order">Order </button></a>
            </div>
            <div class="box2">
                <div class="box1">
       
                <img src="https://www.licious.in/blog/wp-content/uploads/2022/08/shutterstock_2014376390.jpg" alt="burger" class="img1">
                <h2>Veg Tandoori burger</h2>
                <p class="p1">sweet potatoes, black beans, oats and amazing tandoori flavors <br>59 Rs</p>
                <br>
                <a href="https://neartail.com/sm/m6STpToJR"><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box3">
                <div class="box1">
               
                <img src="https://girlheartfood.com/wp-content/uploads/2020/06/Crispy-Chicken-Burger-10.jpg" alt="burger" class="img1">
                <h2>Chicken crispy burger</h2>
                <p class="p1">This burger consists of a super crispy & flakey chicken patty <br>65 Rs</p>
                <br>
                <a href="https://neartail.com/sm/m6STpToJR"><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box4">
                <div class="box1">
              
                <img src="https://static.toiimg.com/photo/53352482.cms" alt="burger" class="img1">
                <h2>Chicken tandoori burger</h2>
                <p class="p1">These tandoori chicken burgers are full of flavor, with a spicy <br>75 Rs
                </p>
                <br>
                <a href="https://neartail.com/sm/m6STpToJR"><button class="order">Order </button></a>
            </div>
            </div>
        </div>
        <div class="box">
            <div class="box1">
                
                <img src="https://www.recipetineats.com/wp-content/uploads/2022/09/Crispy-Fries_8.jpg" alt="burger" class="img1">
                <h2>French fries</h2>
                <p class="p1">Potato slices fried until golden and crispy. <br> 59 Rs</p>
                <br>
                <a href="https://neartail.com/sm/m6STpToJR"><button class="order">Order </button></a>
            </div>
            <div class="box2">
                <div class="box1">
                
                <img src="https://www.sprinklesandsprouts.com/wp-content/uploads/2021/05/Peri-Peri-Fries-SQ.jpg" alt="burger" class="img1">
                <h2>Peri peri fries</h2>
                <p class="p1">Potato fries tossed in peri peri seasoning.<br>79 Rs</p>
                <br>
                <a href="https://neartail.com/sm/m6STpToJR"><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box3">
                <div class="box1">
                
                <img src="https://www.secondrecipe.com/wp-content/uploads/2020/06/veg-manchow-soup.jpg" alt="burger" class="img1">
                <h2>Veg Manchow soup</h2>
                <p class="p1">Mixed vegetables and spices sautéed for base. <br>69 Rs</p>
                <br>
                <a href="https://neartail.com/sm/m6STpToJR"><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box4">
                <div class="box1">
                <img src="https://greenbowl2soul.com/wp-content/uploads/2020/02/veg-manchow-soup.jpg" alt="burger" class="img1">
                <h2>Veg schwezwan soup</h2>
                <p class="p1">Stir-fried vegetables and Szechuan sauce create flavorful base. <br> 69 Rs</p>
                <br>
                <a href="https://neartail.com/sm/m6STpToJR"><button class="order">Order </button></a>
            </div>
            </div>
        </div>
        <div class="box">
            <div class="box1">
                
                <img src="https://www.vegrecipesofindia.com/wp-content/uploads/2019/06/lemon-coriander-soup-recipe.jpg" alt="burger" class="img1">
                <h2>Lemon Coriander soup</h2>
                <p class="p1">Simmered vegetable broth infused with lemon and coriander.<br>69 Rs</p>
                <br>
                <a href="https://neartail.com/sm/m6STpToJR"><button class="order">Order </button></a>
            </div>
            <div class="box2">
                <div class="box1">
                
                <img src="https://www.chiselandfork.com/wp-content/uploads/2023/01/chicken-manchow-soup-2.jpg" alt="burger" class="img1">
                <h2>Chicken manchow soup</h2>
                <p class="p1">chicken, assorted vegetables, garlic, ginger, and soy sauce, <br>79 Rs</p>
                <br>
                <a href="https://neartail.com/sm/m6STpToJR"><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box3">
                <div class="box1">
                
                <img src="https://recipesofhome.com/wp-content/uploads/2020/03/manchow-soup-recipe.jpg" alt="burger" class="img1">
                <h2>Chicken schezwan soup</h2>
                <p class="p1">chicken vibrant vegetables and schezwan sauce in a spicy <br>79 Rs</p>
                <br>
                <a href="https://neartail.com/sm/m6STpToJR"><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box4">
                <div class="box1">
                
                <img src="https://cdn.tarladalal.com/members/9306/procstepimgs/lemon-and-coriander-soup--19-185655.jpg" alt="burger" class="img1">
                <h2>Chicken coriander soup</h2>
                <p class="p1">Chicken, lemon juice, fresh coriander, garlic, ginger, <br>79 Rs</p>
                <br>
                <a href="https://neartail.com/sm/m6STpToJR"><button class="order">Order </button></a>
            </div>
            </div>
        </div>
       </section>


    {{!-- section3 --}}
       <section class="sec3" id="noddles">
         <h1>Noddles</h1>
        <div class="box">
            <div class="box1">
                <img src="https://img-global.cpcdn.com/recipes/442b8d49c7bc2f01/1200x630cq70/photo.jpg" alt="Noddles" class="img1">
                <h2>Chicken angara </h2>
                <p class="p1">marinated grilled chicken chunks, smoky spices, yogurt <br>79(half)/119(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            <div class="box2">
                <div class="box1">
                <img src="https://img-global.cpcdn.com/recipes/424401d7881a6195/1200x630cq70/photo.jpg" alt="Noddles" class="img1">
                <h2>Chicken hakka </h2>
                <p class="p1">stir-fried chicken, mixed vegetables, and egg noodles <br>99(half)/139(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box3">
                <div class="box1">
                <img src="https://www.honestfoodtalks.com/wp-content/uploads/2022/12/Chungs-Teriyaki-stir-fry-Hong-Kong-noodles-with-chopsticks-on-the-side.jpg" alt="Noddles" class="img1">
                <h2>Chicken hong kong</h2>
                <p class="p1">fried chicken pieces, served in a sweet and tangy sauce <br>99(half)/139(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box4">
                <div class="box1">
                <img src="https://sinfullyspicy.com/wp-content/uploads/2022/04/1200-by-1200-images-2.jpg" alt="Noddles" class="img1">
                <h2>Chicken manchurian</h2>
                <p class="p1">chicken pieces , garlic, ginger, soy sauce, vinegar <br>99(half)/139(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
        </div>
        <div class="box">
            <div class="box1">
                <img src="https://i0.wp.com/www.tastesofmalabar.com/wp-content/uploads/2016/11/995975_164617437058185_1355551832_n.jpg?resize=845%2C435&ssl=1" alt="Noddles" class="img1">
                <h2>Checken schezwan</h2>
                <p class="p1">stir-fried chicken with vibrant vegetables, blended <br>99(half)/139(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            <div class="box2">
                <div class="box1">
                <img src="https://cdn.tarladalal.com/members/9306/big/big_triple_schezuan_rice_(_mumbai_roadside_recipes_)-14115.jpg" alt="Noddles" class="img1">
                <h2>Checken triple</h2>
                <p class="p1">mix of stir-fried chicken, assorted vegetables, and egg noodles<br>109(half)/159(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box3">
                <div class="box1">
                <img src="https://ranveerbrar.com/wp-content/uploads/2021/03/chilli-garlic-noodles-scaled.jpg" alt="Noddles" class="img1">
                <h2>Veg angara</h2>
                <p class="p1">stir-fried mixed vegetables and noodles cooked with smoky spices<br>89(half)/129(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box4">
                <div class="box1">
                <img src="https://img.taste.com.au/Q5eKYh7h/taste/2016/11/chilli-chicken-noodles-with-peanuts-7201-1.jpeg" alt="Noddles" class="img1">
                <h2>Checken chilly garlic</h2>
                <p class="p1">stir-fried chicken, garlic-infused noodles, <br>99(half)/139(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
        </div>
        <div class="box">
            <div class="box2">
            <div class="box1">
                <img src="https://www.indianhealthyrecipes.com/wp-content/uploads/2021/07/hakka-noodles-recipe.jpg" alt="Noddles" class="img1">
                <h2>Veg hakka</h2>
                <p class="p1">stir-fried mixed vegetables and  seasoned with soy sauce<br>79(half)/119(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
         </div>
            <div class="box2">
                <div class="box1">
                <img src="https://www.sailusfood.com/wp-content/uploads/2010/05/vegetable-hong-kong-noodles.jpg" alt="Noddles" class="img1">
                <h2>Veg hong kong</h2>
                <p class="p1">Also called as "pan-fried noodles", the Hong Kong noodles <br>89(half)/129(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box3">
                <div class="box1">
                <img src="https://sinfullyspicy.com/wp-content/uploads/2022/04/1200-by-1200-images-2.jpg" alt="Noddles" class="img1">
                <h2>Veg manchurian</h2>
                <p class="p1">Saucy indo chinese style noodles in a savory, spicy <br>89(half)/129(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box4">
                <div class="box1">
                <img src="https://www.vegrecipesofindia.com/wp-content/uploads/2021/02/schezwan-noodles-recipe-1.jpg" alt="Noddles" class="img1">
                <h2>Veg schezwan</h2>
                <p class="p1">Vegetarian Schezwan Noodles made with vegetables <br>89(half)/129(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
                </div>
            </div>
            <div class="box4">
                <div class="box1">
                <img src="https://img-global.cpcdn.com/recipes/fdf74c1a19bc76f1/680x482cq70/triple-schezwan-noodles-recipe-main-photo.jpg" alt="Noddles" class="img1">
                <h2>Veg triple</h2>
                <p class="p1">triple noddle is complete meal with combination of triple noddles <br>89(half)/129(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
        </div>
        </div>
       </section>

          {{!-- section 4 --}}
       <section class="sec3" id="rices">
         <h1>Rices</h1>
        <div class="box">
            <div class="box1">

                <img src="https://recipesofhome.com/wp-content/uploads/2020/06/veg-fried-rice-recipe.jpg" alt="rice" class="img1">
                <h2>veg frie rice</h2>
                <p class="p1">Veg fried rice recipe is one of the most popular quickest <br>79(half)/120(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            <div class="box2">
                <div class="box1">

                <img src="https://img-global.cpcdn.com/recipes/d2c64b6ff57241af/680x482cq70/restaurant-style-veg-schezwan-rice-recipe-main-photo.jpg" alt="rice" class="img1">
                <h2>veg schezwan rice</h2>
                <p class="p1">Restaurant Style veg schezwan rice Recipe <br>89(half)/129(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box3">
                <div class="box1">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGiXXovKVfPYxkEqNo3JHDlf799cpWq9khoAIDlbyk&s" alt="rice" class="img1">
                <h2>veg chilli garlic rice</h2>
                <p class="p1">super flavorful Chilli Garlic Fried Rice recipe <br>89(half)/129(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box4">
                <div class="box1">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4l_wjhLlr2qYzYdC2EHG008szKqXUrc2tSQ&usqp=CAU" alt="rice" class="img1">
                <h2>veg angara rice</h2>
                <p class="p1">Paneer, cauliflower, charcoal, peas, garam masala <br>89(half)/129(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
        </div>
        <div class="box">
            <div class="box1">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMlTmpvboWA4pHZPwfeMUkdoFas4NecJwg9fV2Tz-3YQ&s" alt="rice" class="img1">
                <h2>veg hong kong rice</h2>
                <p class="p1">Vegetable Hong Kong with rice offers a complete <br>89(half)/129(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            <div class="box2">
                <div class="box1">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5a74970QeATLZXBR1C0ERuuYKOn4zF4gL8wPPYUVV&s" alt="rice" class="img1">
                <h2>veg manchurian Rice</h2>
                <p class="p1">Premium Photo | Veg manchurian fried rice <br>89(half)/129(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box3">
                <div class="box1">

                <img src="https://media.istockphoto.com/id/1292617686/photo/healthy-and-tasty-paneer-fried-rice-made-of-rice-mixed-veggies-and-paneer-served-in-bowl-over.jpg?s=612x612&w=0&k=20&c=frc5aSMeFo4zjjP8fo497lhKJBr6VWxyByFAHqPjpj4=" alt="rice" class="img1">
                <h2>veg paneer Rice</h2>
                <p class="p1">paneer fried rice recipe <br>99(half)/139(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box4">
                <div class="box1">

                <img src="https://ranveerbrar.com/wp-content/uploads/2021/02/Triple-Schezwan-Rice-scaled.jpg" alt="rice" class="img1">
                <h2>veg triple rice</h2>
                <p class="p1">Hakka noodles, schezwan sauce, basmati rice, cabbage <br>99(half)/139(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
        </div>
        <div class="box">
            <div class="box1">

                <img src="https://www.kitchensanctuary.com/wp-content/uploads/2020/04/Chicken-Fried-Rice-square-FS-.jpg" alt="rice" class="img1">
                <h2>Chicken fried rice</h2>
                <p class="p1">Bell peppers, hot sauce, cooked rice, spring onions, garlic <br>89(half)/139(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            <div class="box2">
                <div class="box1">

                <img src="https://www.justonecookbook.com/wp-content/uploads/2022/10/Oyakodon-0595-II.jpg" alt="rice" class="img1">
                <h2>chicken egg rice</h2>
                <p class="p1">Skinless chicken thighs, soy sauce, short grain rice, chinese <br>89(half)/139(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box3">
                <div class="box1">

                <img src="https://i.ytimg.com/vi/CIVBFsEyViQ/maxresdefault.jpg" alt="rice" class="img1">
                <h2>chicken schezwan fried rice</h2>
                <p class="p1">Schezwan sauce, basmati rice, boneless chicken, french <br>99(half)/139(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box4">
                <div class="box1">

                <img src="https://www.hwcmagazine.com/wp-content/uploads/2013/05/Pantry-Fried-Rice-1200-x-1200-2884-500x375.jpg" alt="rice" class="img1">
                <h2>chicken hong kong rice</h2>
                <p class="p1">Soy sauce, french beans, chilli sauce, cashew nuts, cooked <br>99(half)/139(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
                </div>
            </div>
            <div class="box4">
                <div class="box1">

                <img src="https://lh3.googleusercontent.com/pFO71RoaVecuPbQK_odjSnVyioOzXukFuk-yAF6qrPr2yjgkTN4BaNP8P_fgQiJ_QFxfmY4ZuzpB9Uicoagjlt2oLdsx-cGmlp9KuNg=w512-rw" alt="rice" class="img1">
                <h2>chicken triple rice</h2>
                <p class="p1">Fried noodles, schezwan sauce, boneless chicken pieces, cup <br>109(half)/160(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
                </div>
            </div>
            <div class="box4">
                <div class="box1">

                <img src="https://dryfruitmart.in/wp-content/uploads/2022/01/ANGARA-RICE-4.jpg" alt="rice" class="img1">
                <h2>chicken angara rice</h2>
                <p class="p1">Crispy fried onions, charcoal, fresh tomatoes, garam masala <br>99(half)/139(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
                </div>
            </div>
            <div class="box4">
                <div class="box1">

                <img src="https://images-gmi-pmc.edge-generalmills.com/75a7343a-1520-4e95-a13f-e61b5fc5b741.jpg" alt="rice" class="img1">
                <h2>chicken garlic rice</h2>
                <p class="p1">Soy sauce, boneless chicken, cooked rice, olive oil, vinegar <br>99(half)/139(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
                </div>
            </div>
            <div class="box4">
                <div class="box1">

                <img src="https://i.ytimg.com/vi/7Bfj1mEp6dA/maxresdefault.jpg" alt="rice" class="img1">
                <h2>chicken manchurian rice</h2>
                <p class="p1">Chicken breast, soy sauce, brown sugar, corn, spring onion <br>99(half)/139(full) Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
        </div>
       </section>


       <section class="sec3" id="beverages">
         <h1>Beverages & instant food</h1>
        <div class="box">
            <div class="box1">
                <img src="https://ikneadtoeat.com/wp-content/uploads/2019/01/Masala-Chai-Recipe-1-500x500.jpg" alt="beverages and instant food" class="img1">
                <h2>Chai</h2>
                <p class="p1">20 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            <div class="box2">
                <div class="box1">
                <img src="https://img.freepik.com/premium-photo/white-coffee-cup-coffee-beans_120795-569.jpg?w=360" alt="beverages and instant food" class="img1">
                <h2>Hot coffee</h2>
                <p class="p1">30 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box3">
                <div class="box1">
                
                <img src="https://www.vegrecipesofindia.com/wp-content/uploads/2022/09/poha-recipe-2.jpg" alt="beverages and instant food" class="img1">
                <h2>Poha</h2>
                <p class="p1">30 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box4">
                <div class="box1">
                
                <img src="https://www.indianhealthyrecipes.com/wp-content/uploads/2023/01/egg-bhurji-recipe.jpg.webp" alt="beverages and instant food" class="img1">
                <h2>Anda bhurji</h2>
                <p class="p1">59 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
        </div>
        <div class="box">
            <div class="box1">
                
                <img src="https://img77.uenicdn.com/image/upload/v1631475473/business/dae279e1-e7a6-448c-b65b-ea775b4756bb.jpg" alt="beverages and instant food" class="img1">
                <h2>Plane maggie</h2>
                <p class="p1">45 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            <div class="box2">
                <div class="box1">
                
                <img src="https://stepintothekitchen.com/wp-content/uploads/2017/10/MasalaMaggiRecipe.jpg" alt="beverages and instant food" class="img1">
                <h2>Masala maggie</h2>
                <p class="p1">55 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box3">
                <div class="box1">
                
                <img src="https://qph.cf2.quoracdn.net/main-qimg-f0f707a7387f066074cfa4834593ff30-lq" alt="beverages and instant food" class="img1">
                <h2>Anda maggie</h2>
                <p class="p1">69 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box4">
                <div class="box1">
                
                <img src="https://img-global.cpcdn.com/recipes/da7121f00c4a6a2f/1200x630cq70/photo.jpg" alt="beverages and instant food" class="img1">
                <h2>Omlet maggie</h2>
                <p class="p1">49 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
        </div>
       </section>

          {{!-- section 5 --}}
       <section class="sec3" id="starters">
         <h1>Starters</h1>
        <div class="box">
            <div class="box1">
                
                <img src="https://vegecravings.com/wp-content/uploads/2017/03/veg-manchurian-dry-recipe-step-by-step-instructions-10.jpg" alt="stater" class="img1">
                <h2>veg manchurian</h2>
                <p class="p1">120 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            <div class="box2">
                <div class="box1">

                <img src="https://i.ytimg.com/vi/gcqZteUmQko/maxresdefault.jpg" alt="stater" class="img1">
                <h2>veg paneer. 65</h2>
                <p class="p1">129 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box3">
                <div class="box1">

                <img src="https://www.indianhealthyrecipes.com/wp-content/uploads/2022/02/chilli-paneer-recipe.jpg" alt="stater" class="img1">
                <h2>veg paneer chilli</h2>
                <p class="p1">129 RS</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box4">
                <div class="box1">

                <img src="https://i0.wp.com/zheelicious.com/wp-content/uploads/2020/06/9dad4c_355c672657f54aa6aa7c94965090b9e3mv2.jpg?resize=720%2C598&ssl=1" alt="stater" class="img1">
                <h2>chinese bhel</h2>
                <p class="p1">89 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
        </div>
        <div class="box">
            <div class="box1">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmGdP-yGB6K2E-uJPexLmwNK6fzyZrIaEoeIFHlCSiCZDZlST5WTCbKyusqRQ5NLHILpI&usqp=CAU" alt="stater" class="img1">
                <h2>chicken chilli dry</h2>
                <p class="p1">139 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            <div class="box2">
                <div class="box1">

                <img src="https://cdn.pixabay.com/photo/2021/05/25/03/02/thai-6281135_1280.jpg" alt="stater" class="img1">
                <h2>chicken chilli gravy </h2>
                <p class="p1">139 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box3">
                <div class="box1">

                <img src="https://www.indianhealthyrecipes.com/wp-content/uploads/2022/03/chicken-65-restaurant-style-500x375.jpg" alt="stater" class="img1">
                <h2>chicken 65</h2>
                <p class="p1">139 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box4">
                <div class="box1">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJl-AjubXgkOLEJuBw8BEYRTq6tG2GDE3AAg&usqp=CAU" alt="stater" class="img1">
                <h2>chicken lollipop oil fry</h2>
                <p class="p1">139 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
        </div>
        <div class="box">
            <div class="box1">

                <img src="https://mydukaan-prod-new.s3.amazonaws.com/50926/4a729d0a-88ff-4837-88d6-464b159f2880.png" alt="stater" class="img1">
                <h2>chicken lollipop masala</h2>
                <p class="p1">149 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            <div class="box2">
                <div class="box1">

                <img src="https://1.bp.blogspot.com/-ESqg52zt2IM/XjChYbssYGI/AAAAAAAANsU/3NgdqeXhDoMpzzH0X2M84RTriezwTB0egCLcBGAsYHQ/s1600/rps20200129_023159.jpg" alt="stater" class="img1">
                <h2>chicken lollipop gravy</h2>
                <p class="p1">149 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
            <div class="box3">
                <div class="box1">

                <img src="https://i.ytimg.com/vi/DjTBhnXMHVU/maxresdefault.jpg" alt="stater" class="img1">
                <h2>chicken chinese bhel</h2>
                <p class="p1">109 Rs</p>
                <br>
                <a href=""><button class="order">Order </button></a>
            </div>
            </div>
        </div>
       </section>


<section id="profile">
    <div class="contain">
       <div class="contain1">
        <div class="boxp">
        <img src="<%= pic%>" alt="picture" >
       </div>
        <div class="boxp">
        <h1><strong>Name:</strong>{{name}}</h1><span>
       </div>
       <div class="boxp">
        <h1>Email:{{email}}</h1>
       </div>
       <div class="boxp">
        <h1>Mob-<span>No:{{mobnumber}}</h1>
       </div>
       <div class="boxp">
        <h1>Address:{{address}}</h1>
       </div>
       </div>
        </div>
    </section>

       <footer>
        <ul>
            <li><a href="https://www.instagram.com/balaji_kagne_1082/" title="instgram"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/balaji-kagne-777a40222/" title="linkdin"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://github.com/balajikagne" title="github"><i class="fa-brands fa-github"></i></a></li>
            <p>Copyright © 2012 - 2023 TermsFeed®. All rights reserved.</p>
            <li><a href="" title="privacy policy">Privacy Polic</a> | </li>
            <li><a href="" title="term of use">Term Of Use</a></li>
        </ul>
         <div id="chatbox">
            <a href="https://wa.link/1h8jb7" title="Our Support"><i class="fa-brands fa-whatsapp"></i></a>
         </div>
       </footer>
       <script src="javascript.js"></script>
</body>
</html>